

body {
    font-family: Arial, sans-serif;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 44%, rgba(73,73,73,1) 100%, rgba(103,103,103,1) 100%, rgba(0,212,255,1) 100%);
    color: #ffffff; 
    margin: 0;
    padding: 20px;
}


.myposts {
    text-align: center;
    color: #000000; 
    margin-bottom: 20px;
    text-decoration: underline;
    background: #ffffff;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 5px ;
    font-size: 35px;
    border: 2px solid #000000;
}

.nav{
    
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    right: 0;
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 35px;
    border-bottom: 3px solid white;
}
.line{
    background: #ffffff;
    height: 1px;
    width: 100%;
}
#name{
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background: black;
}
button {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    

}

.update-btn{
    background-image: url("./editWhite.png"  );
    
    background-size: 30px 30px;
    background-repeat: no-repeat; 
    background-position: center;
    padding-left: 30px; 
    height: 40px; 
    width: 60px; 
    border: none;
    background-color: #000;
    margin-top: 5px;
    cursor: pointer;
  
    
}

.delete-btn{
    background-image: url("./deleteWhite.png"  );
    
    background-size: 30px 30px; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 30px; 
    height: 40px; 
    width: 60px; 
    border: none;
    background-color: #000;
    margin-top: 5px;
    cursor: pointer;
   
    
}
.complete-btn{
    background-image: url("./whiteDone.png"  );
    
    background-size: 30px 30px; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 30px; 
    height: 40px; 
    width: 60px;
    border: none;
    background-color: #000;
    
    cursor: pointer;
    
}
.delete-btn:hover{
    background-color: #ffffff; 
    color: #333;
    border: 1px solid #333;

    background-image: url("./delete.png"  );
    
}
.update-btn:hover{
    background-color: #ffffff; 
    color: #333;
    border: 1px solid #333;

    background-image: url("./edit.png"  );
    
}
.complete-btn:hover{
    background-color: #ffffff; 
    color: #333;
    border: 1px solid #333;

    background-image: url("./done.png"  );
    
}

button:hover {
    background-color: #000000; 
    color: #ffffff;
    border: 1px solid #ffffff;

    
}


#myPosts {
    border: 1px solid #000000;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(255, 255, 255); 
   
   
}

#postText {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    /* width: 45%; */
    background-color: #c7c7c7; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 15px;
    margin-bottom: 15px; 
    position: relative; 
    overflow-wrap: break-word;
    background: #d5d5d7b9;
}
.postNameTextDiv{
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 20px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);

}
.PostTextH1{
    background: #ffffff;
    border: 2px solid black;
   border-radius: 5px;
   padding: 10px ;

}
span {
    
    /* font-weight: bold; 
    color: #333; 
    font-size: 14px; 
    display: block; 
    margin-top: 5px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px; */
    padding: 10px;
    text-decoration: underline;
}

.edit_div {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
}


input[type="text"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #555;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    margin-right: 10px;
    border-bottom: 1px solid #000000;

}

input[type="text"]:focus {
    border-bottom: 2px solid #000000;
}



/* @media (max-width: 600px) {
    #myPosts {
        padding: 10px; 
    }
    .nav{
        flex-direction: column; 
        align-items: flex-start;
        padding: 0;
    }
    button {
        width: 100%;
        margin-bottom: 10px; 
    }

    #postText {
        width: 90%;
    }
} */



